<div class="row">
  <div class="col s4 offset-s4 margin">
    <h2>Conversations</h2>
  </div>
</div>

<div class="row">
  <div id="conversations" class="input-field col s4 offset-s4">
  </div>
</div>


<script>
  var $conversations = $('#conversations');

  // Load list of conversations
  $.ajax({
    url: '/api/messages'
  })
  .done(function(response) {
    response.forEach(function(conversation) {
      var $conversation = $('<div>')
        .addClass('card')
        .append($('<a>')
          .addClass('card-title capitalize')
          .attr('href', '/messages/' + conversation.user.id)
          .text(conversation.user.name));

      $conversations.append($conversation);
    });
  })
</script>
