<div class="container">
  <div class="row">
    <div class="col s4 offset-s4 margin">
      <h2>My Messages</h2>
    </div>
  </div>

  <section id="messages">
  </section>

  <section id="new-message">
    <form id="message-form">
      <label for="message-body">Message</label>
      <textarea id="message-body" class="materialize-textarea"></textarea>
      <button class="btn waves-effect waves-light">Send</button>
    </form>
  </section>
</div>

<script>
  var $messages = $('#messages');

  // Load conversation between current user and conversation partner
  var loadMessages = function() {

    $.ajax({
      url: "/api/messages/<%= @partner_id %>"
    })
    .done(function(response) {
      $messages.empty();
      response.forEach(function(message) {
        var $message = $('<div>').addClass('card');
        $message.append($('<div>')
          .append($('<h4>').addClass('capitalize').text(message.sender.name))
          .append($('<div>').append(message.content))
          .append($('<div>').append(moment(message.created_at).format('MMM Do YYYY'))));

        $messages.append($message);
      });
    });
  }

  // Post new message on submit
  $('#message-form').submit(function(e) {
    e.preventDefault();

    $.ajax({
      url: '/api/messages',
      method: 'post',
      data: {
        authenticity_token: '<%= form_authenticity_token %>',
        content: $('#message-body').val(),
        recipient_id: '<%= @partner_id %>'
      }
    })
    .done(function(res) {
      // TODO: Deal with error
      loadMessages();
      $(e.target).trigger('reset');
    })
  });

  loadMessages();
</script>
