<div class="container">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#bookings">Bookings</a></li>
      <li class="tab col s3"><a href="#reservations">Reservations</li>
    </ul>
  </div>
  <div id="bookings" class="margin">
    <h2>My bookings</h2>
  </div>
  <div id="reservations" class="margin">
    <h2>Next Reservation</h2>
  </div>
</div>


<script>
  $.ajax({
    url: '/api/bookings'
  })
  .done(function(response) {
    // Show booking history
    response.bookings.forEach(function(booking) {
      var $booking = $('<div>').addClass('card').addClass('row');
      $booking.append(
        $('<div>').addClass('card-content booking')
          .append($('<span>').addClass('card-title col s3').text(moment(booking.booking_date).format('MMM Do YYYY')))
          .append($('<p>').addClass('col s4').text(booking.note))
          .append($('<div>').addClass('col s1').text('$' + parseFloat(booking.fee).toFixed(2)))
          .append($('<div>').addClass('col s1 booking-status').text('Status: ' + booking.status))
      );
        // <!-- # button to change booking status to 'Cancelled' -->
      var $cancelButton = $('<a>').addClass('waves-effect waves-light btn cancel-booking-btn col s1 offset-s1').text('Cancel');
      $cancelButton.click(function(e) {
        $.ajax({
          url: '/api/bookings/' + booking.id,
          method: 'patch'
        })
        .done(function(response) {
          if (response.success) {
            // Change booking status and hide buttons
            $booking.find('.booking-status').text('Status: CANCELLED');
            $booking.find('.booking-actions').remove();
          }
        });
      });
      var $reviewButton = $('<a>').addClass('waves-effect waves-light btn review-booking-btn col s1 offset-s1').text('Review');
      $reviewButton.click(function() {
        window.location = '/bookings/' + booking.id;
      });

      // Hide / show relevant action buttons depending on booking state
      var $bookingActions = $('<div>').addClass('card-actions booking-actions');
      if (booking.status === 'CONFIRMED') {
        bookingTime = Date.parse(booking.booking_date);
        if (bookingTime > Date.now()) {
          $bookingActions.append($cancelButton);
        }
        if (bookingTime <= Date.now()) {
          $bookingActions.append($reviewButton);
        }
      }
      $booking.append($bookingActions);

      $('#bookings').append($booking);
    });

    // Show bookings made at current user's kitchens
    response.reservations.forEach(function(booking) {
      var $booking = $('<div>').addClass('card').addClass('row');
      $booking.append(
        $('<div>').addClass('card-content')
          .append($('<span>').addClass('card-title col s3').text(moment(booking.booking_date).format('MMM Do YYYY')))
          .append($('<p>').addClass('col s4').text(booking.note))
          .append($('<div>').addClass('col s1').text('$' + parseFloat(booking.fee).toFixed(2)))
          .append($('<div>').addClass('col s1 booking-status').text('Status: ' + booking.status))
      );
        // <!-- # button to change booking status to 'Cancelled' -->
      var $cancelButton = $('<a>').addClass('waves-effect waves-light btn cancel-booking-btn col s1 offset-s1').text('Cancel');
      $booking.append($cancelButton);
      $cancelButton.click(function() {
        $.ajax({
          url: '/api/bookings/' + booking.id,
          method: 'patch'
        })
        .done(function(response) {
          // do something
          $booking.find('.booking-status').text('Status: CANCELLED');
          $booking.find('.booking-actions').remove();
        });
      });

      var $bookingActions = $('<div>').addClass('card-actions booking-actions');
      $booking.append($bookingActions);

      $('#reservations').append($booking);
    });
  });

</script>
