<div class="container">
  <div id="reservations">
    <h2>Next Reservation</h2>
  </div>
  <div id="bookings">
    <h2>My bookings</h2>
  </div>
</div>


<script>
  $.ajax({
    url: '/api/bookings'
  })
  .done(function(response) {
    console.log(response);
    response.bookings.forEach(function(result) {
      var $booking = $('<div>').addClass('card').addClass('row');
      $booking.append(
        $('<div>').addClass('card-content')
          .append($('<span>').addClass('card-title col s3').text(result.booking_date))
          .append($('<p>').addClass('col s4').text(result.note))
          .append($('<div>').addClass('col s1').text('$' + parseFloat(result.fee).toFixed(2)))
          .append($('<div>').addClass('col s1').text('Status: ' + result.status))
      );
        // <!-- # button to change booking status to 'Cancelled' -->
      var $cancelButton = $('<a>').addClass('waves-effect waves-light btn cancel-booking-btn col s1 offset-s1').text('Cancel');
      $booking.append($cancelButton);
      $cancelButton.click(function() {
        $.ajax({
          url: '/api/bookings/' + result.id,
          method: 'patch'
        })
        .done(function(response) {
          // do something
          console.log(response);
        });
      });
      var $reviewButton = $('<a>').addClass('waves-effect waves-light btn review-booking-btn col s1').text('Review');
      $booking.append($reviewButton);
      $reviewButton.click(function() {

        $.ajax({
          url: '/api/bookings/' + result.id,
          method: 'patch'
        })
        .done(function(response) {
          // TO DO not hardcode

        //   window.location = '/bookings/booking_id'
        // });


          window.location = '/bookings/' + result.id
      });

      $('#bookings').append($booking);
    })

    response.reservations.forEach(function(result) {
      var $booking = $('<div>').addClass('card').addClass('row');
      $booking.append(
        $('<div>').addClass('card-content')
          .append($('<span>').addClass('card-title col s3').text(result.booking_date))
          .append($('<div>').addClass('col s4').text('$' + parseFloat(result.fee).toFixed(2)))
          .append($('<p>').addClass('col s1').text(result.note))
          .append($('<div>').addClass('col s1').text('Status: ' + result.status))
      );
        // <!-- # button to change booking status to 'Cancelled' -->
      var $cancelButton = $('<a>').addClass('waves-effect waves-light btn cancel-booking-btn').text('Cancel');
      $booking.append($cancelButton);
      $cancelButton.click(function() {
        $.ajax({
          url: '/api/bookings/' + result.id,
          method: 'patch'
        })
        .done(function(response) {
          // do something
          console.log(response);
        });
      });


      $('#reservations').append($booking);
    })
  });

</script>
