
<form action="/users" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Email</label>
  <input name="email" type="text"  />
  <label for="">Name</label>
  <input name="name" type="text"  />
  <label for="">Password</label>
  <input name="password" type="password" />
  <label for="">Description</label>
  <input name=description type="text" />
  <label for="">Profile Picture</label>
  <input name="photo_url" type="text"/>
  <button>SIGN UP</button>
  <% if @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
      <%= error_message if @user.errors.full_messages.first == error_message %> <br />
    <% end %>
  <% end %>
</form>
