<div class="landing-page">
  <h1>Use My Kitchen</h1>
  <h4>Find the kitchen and dining space to suit your next dinner party.</h4>

  <div class="row margin search-bar">
    <form action="/kitchens">
      <div class="row">
        <div class="col s2 offset-s3">
          <input id="location" name="location" type="text" placeholder="Location">
        </div>
        <div class="col s2">
          <input id="date" name="date" type="text" placeholder="Date">
        </div>
        <div class="col s1">
          <input id="guests" name="guests" type="number" placeholder="Guests">
        </div>
        <div class="col s1">
          <button class="waves-effect waves-light btn-large">Search</button>
        </div>
      </div>
    </form>
  </div>

</div>
