<h1>Use My Kitchen</h1>
<p>Insert marketing bullshit here</p>

<div>
  <form action="/kitchens">
    <label for="location">Location</label>
    <input id="location" name="location" type="text">
    <label for="date">Date</label>
    <input id="date" name="date" type="text">
    <label for="guests">Guests</label>
    <input id="guests" name="guests" type="number">
    <button>Search</button>
  </form>
</div>
