<div class="landing-page">
  <h1>Use My Kitchen</h1>
  <p>Insert marketing bullshit here</p>

  <div class="row margin search-bar">
    <form action="/kitchens">

      <div class="row">

        <div class="input-field col s2">
          <label for="location">Location</label>
          <input id="location" name="location" type="text">
        </div>
        <div class="input-field col s2">
          <label for="date">Date</label>
          <input id="date" name="date" type="text">
        </div>
        <div class="input-field col s2">
          <label for="guests">Guests</label>
          <input id="guests" name="guests" type="number">
        </div>
        <div class="col s4">
          <button class="btn waves-effect waves-light">Search</button>
        </div>
      </div>

    </form>
  </div>

</div>
