<div id="map-container">
  <div id="map"></div>
</div>

<script>
  initMap();
  var map;
  var markers = [];

  function drawMarkers(kitchens) {
    // Remove existing markers
    while (markers.length > 0) {
      marker = markers.shift();
      marker.setMap(null);
    }

    // Plot kitchens on map
    for (var i = 0; i < kitchens.length; i++) {
      markers.push(new google.maps.Marker({
        position: { lat: kitchens[i].latitude, lng: kitchens[i].longitude },
        map: map
      }));
    }
  }

  function initMap() {
    // TODO instead of center on melbourne get GPS cordinates of the user's browser
    var melbourne = {lat: -37.813628, lng: 144.963053};
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: melbourne
    });
  }
</script>
