<% if logged_in? %>
  <a href="/kitchens/new">Add listing</a>
<% end %>

<div class="row">
  <section id="sidebar" class="col s4">
    <section>
      <form id="search-form">
        <label for="location">Location</label>
        <input id="location" type="text">
        <label for="date">Date</label>
        <input id="date" type="date">
        <label for="guests">Room for </label>
        <input id="guests" type="number">
        <label for="price-range">Price range</label>
        <div id="price-range"></div>
        <button>Search</button>
      </form>
    </section>

    <section id="search-results">
    </section>
  </section>

  <%= render "map" %>
</div>

<script>
  // Init price slider
  var slider = document.getElementById('price-range');
  noUiSlider.create(slider, {
    start: [100, 1500],
    connect: true,
    step: 10,
    range: {
      min: 100,
      max: 1500
    }
  });

  // Load search results
  var getSearchResults = function(location, date, guests, callback) {
    $('#search-results').empty();

    $.ajax({
      url: '/api/kitchens',
      data: {
        location: location,
        date: date,
        guests: guests
      }
    }).done(function(res) {
      res.forEach(function(result) {
        var $result = $('<div>');
        $result.append($('<div>')
          .append($('<h2>')
            .append($('<a>')
              .attr('href', '/kitchens/' + result.id)
              .text(result.title)
            )));
        $result.append($('<div>')
          .text(result.address + ', ' + result.state + ' - ' + result.country));
        $result.append($('<div>')
          .text('$' + parseFloat(result.fee).toFixed(2)));
        $('#search-results').append($result);
      });
      callback(res);
    });
  }

  // Parse query string
  var queryString = window.location.search.substring(1);
  var query = {};
  queryString.split('&').forEach(function(arg) {
    var pair = arg.split('=');
    query[pair[0]] = pair[1];
  });

  // Show initial search results based on query string
  getSearchResults(query.location, query.date, query.guests, drawMarkers);

  // Get search results on form submit
  $('#search-form').submit(function(e) {
    e.preventDefault();

    getSearchResults($('#location').val(),
      $('#date').val(),
      $('#guests').val(),
      drawMarkers
    );
  });
</script>
