<a href="/kitchens/new">Add listing</a>

<section id="search-form">
</section>

<section id="search-results">
</section>

<%= render "map" %>

<script>
  // Load search results
  var getSearchResults = function(location, capacity, date, callback) {
    $.ajax({
      url: '/api/kitchens',
      data: {
        location: location,
        date: date,
        guests: capacity
      }
    }).done(function(res) {
      console.log(res);
      res.forEach(function(result) {
        var $result = $('<div>');
        $result.append($('<div>')
          .append($('<h2>')
            .append($('<a>')
              .attr('href', '/kitchens/' + result.id)
              .text(result.title)
            )));
        $result.append($('<div>')
          .text(result.address + ', ' + result.state + ' - ' + result.country));
        $result.append($('<div>')
          .text('$' + parseFloat(result.fee).toFixed(2)));
        $('#search-results').append($result);
      });
      callback(res);
    });
  }

  // Parse query string
  var queryString = window.location.search.substring(1);
  var query = {};
  queryString.split('&').forEach(function(arg) {
    var pair = arg.split('=');
    query[pair[0]] = pair[1];
  });

  // Show initial search results based on query string
  getSearchResults(query.location, query.guests, query.date, drawMarkers);

</script>
