<section id="search-form">

</section>

<section id="search-results">
</section>

<script>
  // Load search results
  $.ajax({
    url: '/api/kitchens'
  }).done(function(res) {
    res.forEach(function(result) {
      var $result = $('<div>');
      $result.append($('<div>')
        .append($('<h2>')
          .text(result.title)
        ));
      $result.append($('<div>')
        .text(result.address + ', ' + result.state + ' - ' + result.country));
      $result.append($('<div>')
        .text('$' + parseFloat(result.fee).toFixed(2)));
      $('#search-results').append($result);
    });
  });
</script>
