<div id="search" class="row col s12">

  <div id="search-wrapper" class="row col s7">
    <h2>Search</h2>

    <form id="search-form">
      <div class="row">
        <div class="col s6">
          <label for="location">Location</label>
          <input id="location" type="text">
        </div>
        <div class="col s4">
          <label for="date">Date</label>
          <input id="date" type="date">
        </div>
        <div class="col s2">
          <label for="guests">Room for </label>
          <input id="guests" type="number">
        </div>
      </div>
      <div class="row">
        <div class="col s10">
          <label for="price-range">Price range</label>
          <div id="price-range"></div>
        </div>
        <div class="col s1">
          <button class="waves-effect waves-light btn-large">Filter</button>
        </div>
      </div>
    </form>
    <h2>Kitchens</h2>
    <section id="search-results" class="row col s12">
    </section>

    <div class="search-footer">
      <div class="row">
        <div class="col s12">
          <h5>Use My Kitchen</h5>
          <p>© 2016 Project by Fiver</p>
        </div>
      </div>
    </div>

  </div>

  <section id="search-map" class="row col s5">
    <%= render "map" %>
  </section>

</div>


<script>
  // Init price slider
  var slider = document.getElementById('price-range');
  noUiSlider.create(slider, {
    start: [100, 1500],
    connect: true,
    step: 10,
    range: {
      min: 100,
      max: 1500
    }
  });

  // Load search results
  var getSearchResults = function(query, callback) {
    $('#search-results').empty();

    $.ajax({
      url: '/api/kitchens',
      data: {
        location: query.location,
        date: query.date,
        guests: query.guests,
        min_price: query.minPrice,
        max_price: query.maxPrice
      }
    }).done(function(res) {
      res.forEach(function(result) {
        var $result = $('<div>').attr('class', 'col s6');

        // console.log(result.kitchen_photos[0])
        $result.append($('<img>').attr('src', "http://placehold.it/300x200"))

          .append($('<div>')
          .append($('<h4>')
            .append($('<a>')
              .attr('href', '/kitchens/' + result.id)
              .text(result.title)
            )));
        $result.append($('<p>')
          .text(result.address + ', ' + result.state + ' - ' + result.country));
        $result.append($('<p>')
          .attr('class', 'price')
          .text('$' + parseFloat(result.fee).toFixed(2)));

        // calculate average
        var total = 0;
        result.kitchen_reviews.forEach(function(review) {
          total += review.score;
        });
        var average = total/result.kitchen_reviews.length;
        if (average) {
          $result.append($('<div>').text('Average Rating: ' + average.toFixed(1)));
        }
        else {
          $result.append($('<div>').text('No reviews yet'));
        }
        $('#search-results').append($result);

      });
      callback(res);
    });
  }

  // Parse query string
  var queryString = window.location.search.substring(1);
  var query = {};
  queryString.split('&').forEach(function(arg) {
    var pair = arg.split('=');
    query[pair[0]] = pair[1];
  });

  // Show initial search results based on query string
  getSearchResults(query, drawMarkers);

  // Get search results on form submit
  $('#search-form').submit(function(e) {
    e.preventDefault();

    var priceRange = slider.noUiSlider.get();

    getSearchResults({
        location: $('#location').val(),
        date: $('#date').val(),
        guests: $('#guests').val(),
        minPrice: priceRange[0],
        maxPrice: priceRange[1]
      }, drawMarkers);
  });
</script>
