<h2>Add kitchen</h2>

<%= form_tag '/api/kitchens', method: 'post', id: 'kitchen-form' do %>
  <div id="error-messages"></div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="title">Title</label>
      <input id="title" name="title" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4  offset-s4">
      <label for="address">Address</label>
      <input id="address" name="address" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4  offset-s4">
      <label for="suburb">Suburb</label>
      <input id="suburb" name="suburb" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="postcode">Postcode</label>
      <input id="postcode" name="postcode" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <select name="state">
        <option value="" disabled selected>State</option>
        <option value="ACT">Australian Capital Territory</option>
        <option value="NSW">New South Wales</option>
        <option value="NT ">Northern Territory</option>
        <option value="QLD">Queensland</option>
        <option value="SA ">South Australia</option>
        <option value="TAS">Tasmania</option>
        <option value="VIC">Victoria</option>
        <option value="WA ">Western Australia</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="country">Country</label>
      <select name="state">
        <option value="" disabled selected>Country</option>
        <option value="Australia">Australia</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="description">Description</label>
      <textarea id="textarea1" class="materialize-textarea" name="description" type="text"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="image_url">Image URL</label>
      <input id="image_url" name="image_url" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4  offset-s4">
      <label for="capacity">Capacity</label>
      <input id="capacity" name="capacity" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4  offset-s4">
      <label for="fee">Fee</label>
      <input id="fee" name="fee" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <button class="btn waves-effect waves-light">Add</button>
    </div>
  </div>

<% end %>


<script>

  $(document).ready(function() {
     $('select').material_select();
  });

  $('#kitchen-form').submit(function(e) {
    e.preventDefault();

    $.ajax({
      url: '/api/kitchens',
      method: 'post',
      data: {
        title: $('#title').val(),
        address: $('#address').val(),
        suburb: $('#suburb').val(),
        postcode: $('#postcode').val(),
        state: $('#state').val(),
        country: $('#country').val(),
        description: $('#description').val(),
        image_url: $('#image_url').val(),
        capacity: $('#capacity').val(),
        fee: $('#fee').val(),
        authenticity_token: '<%= form_authenticity_token %>',
      }
    }).done(function(res) {
      // Redirect to kitchen details on success
      if (res.success) {
        window.location = '/kitchens/' + res.result;
      }
      else {
        // TODO: Display errors
        var $errors = $('#error-messages');
        $errors.empty();

        var fields = Object.keys(res.errors);
        fields.forEach(function(field) {
          res.errors[field].forEach(function(message) {
            $errors.append($('<div>').text(field + ' ' + message));
          });
        })
        console.log(res);
      }
    });
  });
</script>
