/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

svg {
  margin: .7em;
  fill: #fff;
  height: 40px;
}

.margin {
  margin-top: 4em;
  margin-bottom: 4em;
}

.capitalize {
  text-transform: capitalize;
}

.top-rule {
  border-top: 1px solid #e2e2e2;
}

.multi-btn {
  padding: .5rem 2rem;
  height: 36px;
  background-color: #26a69a;
  border-radius: 2px;
  color: #fff;
  letter-spacing: .5px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Navigation */
nav li a {
  color: #fff;
}

#logout-btn {
  padding: 0 1em;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

#logout-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Login */
.member {
  padding: 2rem 0;
}

/* Landing Page */
.landing-page {
  padding-top: 5em;
  background-image: url("http://hbu.h-cdn.co/assets/16/23/1600x800/landscape-1465239399-industrial-kitchen.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.landing-page h1 {
  padding: 2rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.landing-page h3 {
  color: #fff;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.landing-page input {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
}

.landing-page-contents {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  width: 65%;
}

/* Edit Form */
#kitchen-form img {
  width: 100%;
}

/* Footer */
footer {
  margin-top: 0;
}

footer.page-footer {
  margin-top: 0;
}

footer h5,
footer a,
footer p {
  color: #fff;
}

footer a:hover {
  color: blue;
}

.page-footer h4 {
  color: #fff;
  padding: 1rem 0;
}
