/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.margin {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* Landing Page */
.landing-page {
  background-image: url("http://hbu.h-cdn.co/assets/16/23/1600x800/landscape-1465239399-industrial-kitchen.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
}

.landing-page h1 {
  margin: 0;
  color: #fff;
}

.landing-page p {
  color: #fff;
}

.landing-page input {
  background-color: #fff;
}

.landing-page .input-field {
  background-color: #fff;
}

.landing-page button {
  margin-top: 1.5em;
}

footer {
  margin-top: 0;
}
