/* Search Results */
#search {
  margin-bottom: 0px;
}

#search h2 {
  padding: .5rem;
}

#search h2:nth-of-type(2) {
  padding-top: 1.5rem;
}

#search h4 {
  padding: 0.4rem 0;
}

#search-results div:nth-child(odd) {
  padding-left: 0;
}

#search-results div:nth-child(even) {
  padding-right: 0;
}

#search-results {
  padding: .5rem;
}

#search-results img {
  width: 100%;
}

.price {
  padding-bottom: 1rem;
}

#search-wrapper {
  margin-bottom: 0px;
  padding: 1.5rem;
  height: 100vh;
  overflow: scroll;
}

#search-form {
  border-bottom: 1px solid #ececec;
}

#search-map {
  padding: 0;
}

#map {
  height: 100vh;
}

.search-footer div div {
  border-top: 1px solid #ececec;
}

.search-footer h5 {
  margin-top: 2rem;
}

.search-footer h5,
.search-footer p {
  color: #000;
}

// Kitchen Show
#kitchen-details {
  margin-top: 1.5rem;
}

#kitchen-details h3 {
  padding: .5em 0;
}

#kitchen-details p {
  padding: 1em 0;
}

.kitchen-summary {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ececec;
}

.kitchen-text {
  padding: 1rem 0;
  border-bottom: 1px solid #ececec;
}

.kitchen-snapshot {
  padding: 1rem 0 0;
  border-bottom: 1px solid #ececec;
}

.kitchen-snapshot h5 {
  vertical-align: bottom;
  line-height: 1;
  margin: 0;
}

.kitchen-reviews {
  padding: 1em 0;
}
