.profile-image {
  width: 100%;
  border-radius: 50%;
}

.user-details h3 {
  padding-bottom: 1rem;
}

.user-details h5,
.user-details p {
  padding: 1rem 0;
}

.kitchen,
.kitchen h3,
.kitchen h4,
.kitchen p {
  padding-bottom: 0.75rem;
}
