<!DOCTYPE html>
<html>
  <head>
    <title>UseMyKitchen</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">UMK Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/session/new">Log In</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Use My Kitchen</h5>
            <p class="grey-text text-lighten-4">TODO: Write a one-liner.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Important Stuff</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Terms &amp; Privacy</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Why Host</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Project by Fiver
        </div>
      </div>
    </footer>

  </body>

</html>
